DB_ENGINE=postgres
DB_NAME=tickets
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5433

TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_CHAT_ID=your-telegram-chat-id
TELEGRAM_BOOKING_NOTIFICATIONS_ENABLED=True
ADMIN_BOOKINGS_URL=http://127.0.0.1:3000/ticket-admin/bookings
